<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/guest/additionoutput">
        <input type="text" name="txtnum1" placeholder="Enter first number" />
        <br><br>
        <input type="text" name="txtnum2" placeholder="Enter second number" />
        <br><br>
       
        <br><br>
        <input type="submit" name="btnsubmit" value="Addition" />
    </form>
</body>
</body>
</html>