<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="txtnum1" placeholder="Enter first subject marks" />
        <br><br>
        <input type="text" name="txtnum2" placeholder="Enter second subject marks" />
        <br><br>
        <input type="text" name="txtnum3" placeholder="Enter third subject marks" />
        <br><br>
        <input type="text" name="txtnum4" placeholder="Enter fourth subject marks" />
        <br><br>
        <input type="text" name="txtnum5" placeholder="Enter fifth subject marks" />
        <br><br>
        <input type="submit" name="btnsubmit" value="Addition" />
    </form>
</body>
</html>