<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter Student Information </h1>
    <form action="/guest/stuoutput">
        <input type="text" name="txtname" placeholder="Enter name" />
        <br><br>
        <input type="text" name="txtemail" placeholder="Enter email" />
        <br><br>
        <input type="text" name="txtcontact" placeholder="Enter contact no" />
        <br><br>
        <input type="text" name="txtaddress" placeholder="Enter address" />
        <br><br>
        <input type="submit" name="btnsubmit" value="Click" />
    </form>
</body>
</html>