{% extends 'parentsapp/master.html' %}
{% block middlesection %}
<br><br><br><br><br>
<center>
    <h1>Register here</h1>
<div class="blog_section">
    <form action="" method="post">
        {% csrf_token %}
        <div>
          <input type="email" placeholder="Enter emailid" name="txtemail" />
        </div>
        <div>
          <input type="password" placeholder="Enter password" name="txtpass" />
        </div>
        <div>
          <input type="text" placeholder="Enter mobile" name="txtmobile" />
        </div>
        <div>
          <input type="text" class="message-box" placeholder="Enter fullname" name="txtname" />
        </div>
        <div class="btn_box">
          <button type="submit">
            Register
          </button>
        </div>
      </form>
      {{key}}
</div>
</center>
{% endblock %}